<div>
  {{#if h1title}}
  <h1 style="text-align: center;">{{h1title}}</h1>
  {{else}}
  <h1>UNKOWN TITLE</h1>
  {{/if}}
  {{#each carts.products}}
    <p>nombre: {{this.title}}</p>
    <p>id: {{this._id}}</p>
    <p>precio: ${{this.price}}</p>
    <input type="button" value="Agregar producto al carrito" onclick="addProduct({{this._id}});">
  <hr/>
    
  {{/each}}
</div>
