<div>
  {{#if h1title}}
  <h1 style="text-align: center;">{{h1title}}</h1>
  {{else}}
  <h1>UNKOWN TITLE</h1>
  {{/if}}
  {{#each cart}}
    <p>cantidad: {{this.quantity}}</p> 
    <p>nombre: {{this.title}}</p>
    <p>descripcion: {{this.description}}</p>
    <p>precio: {{this.price}}</p>
    <p>categoria: {{this.category}}</p>
    <hr/>
  {{/each}}
</div>
<script src="/js/vista.products.js"></script>
