<div>
  {{#if h1title}}
  <h1 style="text-align: center;">{{h1title}}</h1>
  {{else}}
  <h1>UNKOWN TITLE</h1>
  {{/if}}
  <div class="products-container">
  {{#each cart}}
  <div class="product">
      <p>id: {{this.id}}</p>
      <p>nombre: {{this.title}}</p>
      <p>descripción: {{this.description}}</p>
      <p>precio: ${{this.price}}</p>
  </div>
  {{/each}}
  </div>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>

</div>
<script src="/js/vista.products.js"></script>
