<div>
  {{#if h1title}}
  <h1 style="text-align: center;">{{h1title}}</h1>
  {{else}}
  <h1>UNKOWN TITLE</h1>
  {{/if}}
  {{#if email}}
  <div class="user-container">
    <h3>Bienvenido {{userName}}</h3>
    <p>su email es: {{email}}</p>
    <h3>Su rol es: {{rol}}</h3>
    <h3>Su carrito asignado es: {{cart}}</h3>
    <a href="/profile">Ver mi perfil</a>
    <a href="/logout">Logout</a>
    <a href="/vista/users/users-manager">Manager de usuarios</a>
  </div>
  
  {{else}}
  <h4>No está logueado <a href="/login">Ingresar</a></h4>
  {{/if}}
  
  <form action="/api/carts" method="post">
    <input type="submit" value="CREAR CARRITO">
  </form>
<div class="products-container">
  {{#each products}}
  <div class="product">
    <form action="/api/carts/{{../cart}}/products/{{this._id}}" method="post">
      <p>nombre: {{this.title}}</p>
      <p>id: {{this.price}}</p>
      <p>precio: ${{this.price}}</p>
      <input type="number" name="quantity" placeholder="Ingresar la cantidad">
      <input type="submit" value="Agregar producto al carrito">
    </form>
  </div>
  {{/each}}
</div>
  
    <h3>Paginacion</h3>
    <p>
      pagingCounter: 
      {{pagingCounter}}
      totalPages: 
      {{totalPages}}
      page: 
      {{page}}
      {{#if hasPrevPage}}
      <a href="http://localhost:8080/vista/products?page={{prevPage}}">prev page</a>
      {{/if}}
      {{#if hasNextPage}}
      <a href="http://localhost:8080/vista/products?page={{nextPage}}">next page</a>
      {{/if}}
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/vista.products.js"></script>