<div>
  {{#if h1title}}
  <h1 style="text-align: center;">{{h1title}}</h1>
  {{else}}
  <h1>UNKOWN TITLE</h1>
  {{/if}}
  {{#if email}}
  <h3>Bienvenido {{userName}}</h3>
  <p>su email es: {{email}}</p>
  <h3>Su rol es: {{rol}}</h3>
  <a href="/logout">Logout</a>
  {{else}}
  <h4>No está logueado <a href="/login">Ingresar</a></h4>
  {{/if}}
  
  {{#each products}}
  <form action="/ejemplo/products/{{this._id}}" method="post">
    <p>nombre: {{this.title}}</p>
    <p>id: {{this._id}}</p>
    <p>precio: ${{this.price}}</p>
    <input type="button" value="Agregar producto al carrito" onclick="addProduct('{{{this._id}}}');">
  </form>
  <hr/>
  {{/each}}
    <h3>Paginacion</h3>
    <p>
      pagingCounter: 
      {{pagingCounter}}
      totalPages: 
      {{totalPages}}
      page: 
      {{page}}
      {{#if hasPrevPage}}
      <a href="http://localhost:8080/vista/products?page={{prevPage}}">prev page</a>
      {{/if}}
      {{#if hasNextPage}}
      <a href="http://localhost:8080/vista/products?page={{nextPage}}">next page</a>
      {{/if}}
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/vista.products.js"></script>