<div>
  <h1>Operacion exitosa!</h1>
  <h4>status: {{success}}</h4>
  <p>Message: {{message}}</p>
  <p>Payload: {{payload}}</p>
  <a href="/">Volver al inicio</a>
  <a href="/{{redirect}}">Volver a {{redirect}}</a>
</div>