<div>
  {{#each users}}
  <p>{{this.id}}</p>
  <p>{{this.first_name}}  {{this.last_name}}</p>
  <p>{{this.email}}</p>
  <p>{{this.carts}}</p>
  {{/each}}
  <hr>
  <hr>
  <h3>Paginacion</h3>
    <p>
      pagingCounter: 
      {{pagingCounter}}
      totalPages: 
      {{totalPages}}
      page: 
      {{page}}
      {{#if hasPrevPage}}
      <a href="http://localhost:8080/vista/products?page={{prevPage}}">prev page</a>
      {{/if}}
      {{#if hasNextPage}}
      <a href="http://localhost:8080/vista/products?page={{nextPage}}">next page</a>
      {{/if}}
    </p>
    <a href="/logout">Logout</a>
</div>